/* src/app/globals.css */

body {
  margin: 0;
  padding: 0;
  background-color: #F7F7FE;
  font-family: 'Roboto', Arial, sans-serif;
  color: #030B15; /* Optional: Set a default text color to contrast with the background */
  min-height: 100vh;
}
